

<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4>Login</h4>
          </div>
          <div class="card-body">
            <form >
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input formControlName="email" type="email" class="form-control" id="email" placeholder="Enter your email">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input formControlName="password" type="password" class="form-control" id="password" placeholder="Enter your password">
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <br>
            <a style=" color: blue; margin-top: 10px;" routerLink="/signup">Create New Account ? Click To Signup</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  