<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4>signup</h4>
          </div>
          <div class="card-body">
   
            <form >
             
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input formControlName="name" type="text" class="form-control" id="name" placeholder="Enter your name">
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input formControlName="email" type="email" class="form-control" id="email" placeholder="Enter your email">
              </div>
              <div class="mb-3">
                <label for="mobile" class="form-label">Mobile No</label>
                <input formControlName="mobile" type="text" class="form-control" id="mobile" placeholder="Enter your mobile number">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" formControlName="password" class="form-control" id="password" placeholder="Enter your password">
              </div>
              <button type="submit" class="btn btn-primary">Signup</button>
            </form>
            <br>
            <a  style=" color: blue; margin-top: 10px;" routerLink="/login">Already Register ? Click To Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  